<div class="header">
    <nav class="navbar navbar-expand-lg bg-primary navbar-dark sticky-top fixed">
        <div class="container-fluid">
            <ul class="nav navbar-nav ">
                <h1 class="navbar-brand">Online Job Portal</h1>
                <li class="nav-item "><a class="nav-link" routerLinkActive="active" routerLink="addjob">Add Job</a></li>
                <li class="nav-item "><a class="nav-link" routerLinkActive="active" routerLink="joblist">Job List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item navbar-right  "><a class="nav-link" routerLink="Register" routerLinkActive="active">Register</a></li>
                <li class="nav-item navbar-right  "><a class="nav-link" routerLink="Login" routerLinkActive="active">Login</a></li>
            </ul>
        </div>
    </nav>
</div>