<br>
<br>

<div class="register">
    <div class="hdr">
        <h1>REGISTER</h1>
    </div>
    <form action=" ">
        <div class="form-group">
            <label for="exampleInputEmail1">User Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="registerdUser.email" name="email" placeholder="Enter email">          
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="registerdUser.password" name="password"  placeholder="Password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" (click)="registerUser()" class="btn btn-primary">Submit</button>
    </form>
</div>